html
  head
    title!= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel="stylesheet" href="/styles/main.css")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  body
    div.container
      div.row
        h1.header Projection Screen controller
      div.row
        div(role="alert")#particleAccountConnection.alert.alert-danger.connections Particle account #{data.particleConfig.username} not connected.
        div(role="alert")#particleDeviceConnection.alert.alert-danger.connections Particle Device #{data.particleConfig.deviceID} not connected.
        div.row
          a.btn.btn-default.btn-lg.btn-block.btn-secondary.hide.retryDeviceConnection(href="#") Retry Device Connection
      div.row
        div.col-md-12
          div(role="alert").alert.alert-info#feedback
          a.btn.btn-default.btn-lg.btn-block.btn-secondary.hide.raise(href="#") Raise
          a.btn.btn-default.btn-lg.btn-block.btn-secondary.hide.lower(href="#") Lower
          a.btn.btn-default.btn-lg.btn-block.btn-secondary.hide.stop(href="#") Stop Motor
    script(src="/socket.io/socket.io.js")
    script(src="/js/page.js")